<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>模板</title>
</head>
<body>
    <img src="/header.jpg" alt="自拍头像" width="300" />
    <p>name: {{ name }}</p>
    <p>age: {{ age }}</p>
</body>
</html>